/* Reset dan Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080b71;
    --second-bg-color: #330070;
    --text-color: #ffffff;
    --main-color: #ea580c;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(
        135deg,          /* sudut 135° = bottom right */
        var(--bg-color) 0%,
        #1e0f91 35%,     /* warna transisi tengah opsional */
        var(--second-bg-color) 100%
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    min-height: 100vh;
}

/* Header */
.header {
    position: fixed;
    inset: 0 0 auto 0;               
    padding: 4rem 15%;
    width: 100%;

    background: transparent;         
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


/* Logo dan Menu */
#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

/* Highlight Warna Teks Gradien */
span {
    background: linear-gradient(270deg, #0c0801 10%, #0202f4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
